*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

p {
    text-align: center;
}

#messsageDisplay {
    font-family: 'Shippori Mincho B1', serif;
    font-size: 20px;
    color: #43B0F1;
}

#social1 {
    color: #cccccc;
    font-size: 30px;
    text-align: center;
    flex-direction: column;
    display: flex;
    font-family: 'Shippori Mincho B1', serif;
}

#corner {
    font-family: 'Poppins', sans-serif;
    color: #cccccc;
    font-size: 13px;
    position: fixed;
    bottom: 8px;
    left: 8px;
}

#a1 {
    font-family: 'Poppins', sans-serif;
    color: #cccccc;
    text-align: center;
    font-size: 30px;
}

.corner {
    font-family: 'Poppins', sans-serif;
    color: #cccccc;
    font-size: 13px;
    position: fixed;
    bottom: 8px;
    left: 8px;
}

.error404 {
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    color: #cccccc;
}

#link {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-decoration: none;
    color: #cccccc;
    font-size: 40px;
    text-decoration-line: none;
    flex-direction: column;
    display: flex;
}

#link2 {
    font-family: 'Poppins', sans-serif;

    text-decoration: none;
    color: #43B0F1;
    font-size: 30px;
    text-decoration-line: none;
    flex-direction: column;
    display: flex;
}

h3 {
    font-family: 'Redressed', cursive;
    font-size: 60px;
    color:teal;
}

body {
    background-image: url('/resources/images/background.jpg');
   }

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #1E3D58;
    font-family: 'Poppins', sans-serif;
}

.logo{
    color: #cccccc;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: #cccccc;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: #cccccc;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #1E3D58;
        display:flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{display: block;}
}

.nav-active{
    transform: translateX(0%);
}

@keyframes nacLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}