body {
    margin: 0;
    background-color: cadetblue;
}

/* fonts & text */
    .normal_p {
        /* standart font & color */
        color: #FEFAE0;
        font-size: 25px;
        margin-left: 10px;
    }
/* end of fonts */


/* links */
    #home_link{
        text-decoration: none;
        color: #cccccc;
        font-size: 30px;
        position:fixed;
        bottom: 5px;
        right: 10px;
    }

    #p_link{
        text-decoration: none;
        font-size: 25px;
        color: #FEFAE0;
    }

    #link{
        /* standard link */
        text-decoration: none;
        font-size: 30px;
        color: #FEFAE0;
        margin-left: 15%;
    }
/* end of links */

.header_box {
    background-color: #272727;
    text-align: center;
    padding: 10px;
}
#header{
    font-family: 'Redressed', cursive;
    font-size: 40px;
    color:rgb(30, 182, 182);
}

.error404 {
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    color: #c0c0bf;
}
#messsageDisplay {
    /* 404 random message */
    font-family: 'Shippori Mincho B1', serif;
    font-size: 20px;
    color: #ffffffd3;
}

#corner {
    /* used for launch year */
    font-family: 'Poppins', sans-serif;
    color: #cccccc;
    font-size: 13px;
    position: fixed;
    bottom: 8px;
    left: 8px;
}

#time {
    /* Clock in Home */
    background-color: #4edada;
    width: 35%;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    font-family: 'Georgia', sans-serif;
    font-size: 55px;
    text-align: center;
    color: rgba(44, 44, 44, 0.900);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 800px) {
    #time {
        /* makes the clock bigger on small screens ( < 800px ) */
        width: 90%; 
    }
    #link{
        text-align: center;
        margin-bottom: 0px;
    }
}

/* navbar */
    .topnav {
        /* The navbar container */
        overflow: hidden;
        background-color: #333;
    }
  
    .topnav a {
        /* Navbar links */
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 18px 20px;
        text-decoration: none;
    }
  
    .topnav a:hover {
        /* Links - change color on hover */
        background-color: #ddd;
        color: black;
    }   