.crt::after {
    will-change: opacity;
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.17);
    opacity: 0;
    z-index: 10;
    pointer-events: none;
    animation: flicker 2.5s infinite;
    }
.crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 10;
    background-size: 100% 4px, 5px 100%;
    pointer-events: none;
    }
.crt {
    will-change: text-shadow;
    animation: textShadow 2.5s steps(2, end) infinite;
}

body {
    background-color: #151515;
}

@keyframes flicker {
    0% {opacity: 0.27;}
    10% {opacity: 0.23;}
    20% {opacity: 0.18;}
    30% {opacity: 0.65;}
    40% {opacity: 0.26;}
    50% {opacity: 0.96;}
    60% {opacity: 0.20;}
    70% {opacity: 0.53;}
    80% {opacity: 0.71;}
    90% {opacity: 0.70;}
    100% {opacity: 0.24;}
}

@keyframes textShadow {
    0% {text-shadow: 0.438px 0 1px rgba(0,30,255,0.5), -0.438px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    10% {text-shadow: 0.029px 0 1px rgba(0,30,255,0.5), -0.029px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    20% {text-shadow: 3.479px 0 1px rgba(0,30,255,0.5), -3.479px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    30% {text-shadow: 0.701px 0 1px rgba(0,30,255,0.5), -0.701px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    40% {text-shadow: 3.870px 0 1px rgba(0,30,255,0.5), -3.870px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    50% {text-shadow: 0.080px 0 1px rgba(0,30,255,0.5), -0.080px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    60% {text-shadow: 2.202px 0 1px rgba(0,30,255,0.5), -2.202px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    70% {text-shadow: 0.488px 0 1px rgba(0,30,255,0.5), -0.488px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    80% {text-shadow: 0.083px 0 1px rgba(0,30,255,0.5), -0.083px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    90% {text-shadow: 3.443px 0 1px rgba(0,30,255,0.5), -3.443px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    100% {text-shadow: 2.620px 0 1px rgba(0,30,255,0.5), -2.620px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
}