
.photo{
    background-color: gray;
    color: honeydew;
    margin-top: 50px;
    text-align: center;
    padding:40px 0;
}


#photo {
    height: 600px;
    width: 600px;
}


#owo {
    color: gray;
    font-size: 100px;
    font-style: italic;
}

.bold {
    font-weight: 900;
}

.corner {
    font-family: 'Poppins', sans-serif;
    color: #ad4343;
    font-size: 13px;
    position: fixed;
    bottom: 8px;
    right: 8px;
}
