
#time {
    background-color: #4edada;
    width: 35%;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    font-family: 'Georgia', sans-serif;
    font-size: 55px;
    text-align: center;
    color: rgba(44, 44, 44, 0.900);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }

#homelink {
    text-decoration: none;
    color: #cccccc;
    font-size: 25px;
    text-decoration-line: none;
    position:fixed;
    bottom: 10px;
    left: 15px;
}

#corner {
    font-family: 'Poppins', sans-serif;
    color: #cccccc;
    font-size: 13px;
    position: fixed;
    bottom: 8px;
    right: 8px;
}

