
.photo{
    background-color: gray;
    color: honeydew;
    margin-top: 50px;
    text-align: center;
    padding:40px 0;
}


#photo {
    height: 600px;
    width: 600px;
}


#owo {
    color: gray;
    font-size: 100px;
    font-style: italic;
}

.bold {
    font-weight: 900;
}

